body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
}

html{
	font-size:26.67vw;
}
html,body{
	height:100%;
}
body{
	font-family: "微软雅黑",Arial;
	display: flex;
	flex-direction: column;
	/*background:pink;*/
	align-items: center;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}
header{
	width:100%;
	height: 0.52rem;
	background: #232321;
	display: flex;
	justify-content: center;
}
.header_con{
	width:100%;
	height: 0.42rem;
	background:#232321;
	display: flex;
	justify-content: space-between;
	padding-top:0.1rem;
}
.con_left{
	width:1rem;
	height: 0.2rem;
	/*background: blue;*/
	display: flex;
}
.con_left img{
	width:0.2rem;
	height: 0.2rem;
}
.con_left .login{
	width:0.8rem;
	height: 0.17rem;
	display: flex;
}
.con_left .login a{
	display: block;
	width:0.4rem;
	height: 0.17rem;
	font-size: 0.07rem;
	color: #fff;
}
.aa{
	width:0.45rem;
	height: 0.4rem;
	/*background: red;*/
}
.aa a img{
	width:0.45rem;
	height: 0.4rem;
}
.con_right{
	width:0.8rem;
	height: 0.3rem;
	/*background: yellow;*/
	display: flex;
	justify-content: space-between;
}
.con_right a img{
	width:0.3rem;
	height: 0.25rem;
}
/*section*/
section{
	width:100%;
	height: 1.92rem;
	/*background:yellow;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sec_info{
	width:100%;
	height: 1.36rem;
	/*background:red;*/
}
.sec_info .info_top{
	width:100%;
	height: 0.56rem;
	background: url(../img/shops/logo.jpg) repeat-X;
}
.sec_info .info_bom{
	width:3.5rem;
	height: 0.8rem;
	/*background:red;*/
}
.sec_info .info_bom p{
	width:3.5rem;
	height: 0.15rem;
	/*background:pink;*/
	font-size: 0.06px;
	display: flex;
}
.sec_price{
	margin-top: 0.15rem;
	width:3.5rem;
	height: 0.3rem;
	/*background:gray;*/
	display: flex;
	justify-content: space-between;
	font-size:0.06rem;
	padding-top:0.10rem;
}
.span_1{
	margin-top:0.02rem;
}
.span_2{
	margin-left:-0.35rem;
	margin-right: -0.25rem;
}
.p_1{
	width:1.8rem;
	height: 0.25rem;
}
.delete{
	color: black;
	/*margin-left:-0.25rem;*/
}
.like{
	width:3.5rem;
	height: 1.92rem;
	/*background:red;*/
	display: flex;
	flex-direction: column;
}
.hea{
	/*width:0.8rem;*/
	height: 0.18rem;
	/*background: yellow;*/
	display: flex;
}
.hea a{
	display: block;
	width:0.7rem;
	height: 0.14rem;
	margin-top:0.2px;
	color: black;
	font-size: 0.06rem;
	/*text-align: center;*/
}
.hea a:first-child{
	/*border-right:1px solid black ;*/
}
.like ul{
  /*width:1190px;*/
  height: 2.07rem;
  /*background: yellow;*/
  overflow: hidden;
  display: flex;
}
.like .lss{
  width:1.1rem;
  height: 2.06rem;
  background: #ffffff;
  margin-right: 0.11rem;
  text-align: center;
  padding-top:0.03rem;
}
.lss img{
  width:1.11rem;
  height: 1.4rem;
  margin-bottom: 0.05rem;
}
.lss a{
  color: black;
  font-size:0.06rem;
}
.lss p{
  margin-top: 15px;
  font-size: 0.09rem;
}
.lss p span{
  font-size: 0.06rem;
}

.server {
  width: 100%;
  height: 266px;
  background: #ffffff;
  overflow: hidden;
  margin-top: 50px;
}
.server ul {
  width: 1190px;
  height: 60px;
  margin: 0 auto;
  margin-top: 54px;
}
.server ul li {
  float: left;
  width: 238px;
  height: 60px;
  overflow: hidden;
}
.server ul li .s1 {
  float: left;
  width: 52px;
  height: 60px;
}
.server ul li .s1 img {
  width: 52px;
  height: 60px;
}
.server ul li .s2 {
  float: left;
  width: 103px;
  height: 60px;
  margin-left: 30px;
}
.server ul li .s2 .sp1 {
  font-size: 20px;
  color: #232321;
}
.server ul li .s2 .sp2 {
  font-size: 12px;
  color: #999999;
}
.server{
	width: 100%;
	height:1.33rem;
	background: red;
}
.server ul{
	width: 100%;
	height:0.6rem;
	background: yellow;
	display: flex;
}
.server ul li{
	width: 1.19rem;
	height:0.6rem;
	background: pink;]
	display: flex;
}
.server ul li .s1 img{
	width: 0.20rem;
	height:0.26rem;
}
.server ul li .s2 p{
	width: 0.51rem;
	height:0.30rem;
	font-size: 0.06px;
}